/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
/* everywhere else */

html, body { height: 100%; 

	font-family: Arial, Helvetica, sans-serif;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }














/* Button section */
/* class navigate button */
.navigate {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:6px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.navigate:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.navigate:active {
	position:relative;
	top:1px;
}

/* removebtn */
/*Redbutton */
.redbtn {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:16px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.redbtn:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.redbtn:active {
	position:relative;
	top:1px;
}

/* Greenbutton */
/* Edit button */
.greenbtn {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:16px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.greenbtn:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.greenbtn:active {
	position:relative;
	top:1px;
}
/* Createbutton */

/* bluebtn */

.bluebtn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:6px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:16px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.bluebtn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.bluebtn:active {
	position:relative;
	top:1px;
	background-color:orange;
}

